@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  font-family: Roboto;
}
// == VARIABLES ==
// colors
$light-color: #ffffff;
$lighter-color: #fafafa;
$main-color: #3f51b5;
$middle-color: #757575;
$accent-color: #A74B66;
$dark-color: #4d2b29;
// adaptive
$screen-xxs-min: 0px;
$screen-xs-min: 320px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xxs-max: 319px;
$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xl-max: 1399px;

.logoAuth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  text-shadow: -2px -2px 0 $dark-color, 2px -2px 0 $dark-color, -2px 2px 0 $dark-color, 2px 2px 0 $dark-color;
  &__first {
    font-size: 100px;
  }
  &__second {
    font-size: 50px;
  }
}

.header {
  width: 100%;
  display: flex;

}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.rightHeaderButton,
.leftHeaderButton {
  width: 25%;
  display: flex;
  align-items: center;

}

.rightHeaderButton {
  @media (max-width: $screen-xs-max) {
    justify-content: flex-end;
  }
  @media (min-width: $screen-sm-min) {
    justify-content: center;
  }
}
.leftHeaderButton {
  @media (max-width: $screen-xs-max) {
    justify-content: flex-start;
  }
  @media (min-width: $screen-sm-min) {
    justify-content: center;
  }
}

.logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  &__first {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-shadow: -2px -2px 0 $dark-color, 2px -2px 0 $dark-color, -2px 2px 0 $dark-color, 2px 2px 0 $dark-color;
    @media (max-width: $screen-xs-max) {
      font-size: 25px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 40px;
    }
  }
  &__second {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-shadow: -2px -2px 0 $dark-color, 2px -2px 0 $dark-color, -2px 2px 0 $dark-color, 2px 2px 0 $dark-color;
    @media (max-width: $screen-xs-max) {
      font-size: 12px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 20px;
    }
  }
  &__third {
    display: flex;
    align-items: flex-start;
    height: 100%;
    @media (max-width: $screen-xs-max) {
      font-size: 12px;
      padding-top: 5px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 20px;

    }
  }
}

.calendar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
}


.events-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.element {
  position: absolute;
  top: 347px;
  left: 20px;
  width: 100px;
  height: 24px;
  border-radius: 5px;
  font-size: 10px;
  color: $lighter-color;
  padding: 3px;
  background-color: #3f51b5;
}

.container {
  &__size-1 {
    flex-basis: 30px;
  }
  &__size-2 {
    flex-basis: 60px;
  }
  &__size-3 {
    flex-basis: 90px;
  }
  &__size-4 {
    flex-basis: 120px;
  }
  &__size-5 {
    flex-basis: 150px;
  }
  &__size-6 {
    flex-basis: 180px;
  }
  &__size-7 {
    flex-basis: 210px;
  }
  &__size-8 {
    flex-basis: 240px;
  }
  &__size-9 {
    flex-basis: 270px;
  }
  &__size-10 {
    flex-basis: 300px;
  }
  &__size-11 {
    flex-basis: 330px;
  }
  &__size-12 {
    flex-basis: 360px;
  }
  &__size-13 {
    flex-basis: 390px;
  }
  &__size-14 {
    flex-basis: 420px;
  }
  &__size-15 {
    flex-basis: 450px;
  }
  &__size-16 {
    flex-basis: 480px;
  }
  &__size-17 {
    flex-basis: 510px;
  }
  &__size-18 {
    flex-basis: 540px;
  }
  &__size-19 {
    flex-basis: 570px;
  }
  &__size-20 {
    flex-basis: 600px;
  }
  &__size-21 {
    flex-basis: 630px;
  }
  &__size-22 {
    flex-basis: 660px;
  }
  &__size-23 {
    flex-basis: 690px;
  }
  &__size-24 {
    flex-basis: 720px;
  }
}

.events {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;

  &__item:not(:first-child) {

  }
  &__item {
    width: 100%;
    color: $lighter-color;
    border-radius: 4px;
    padding: 3px;
    font-size: 10px;
    overflow: hidden;
    transition: opacity 0.3s linear;
  }
  &__item:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 10px;
  color: $lighter-color;
  transition: color 0.3s linear;
}
.empty:hover {
  color: $main-color;
  cursor: pointer;
}

.day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__today {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    z-index: 1;
    border-radius: 0 0 10px 10px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 10px;
    position: sticky;
    top: 32px;
    z-index: 2;
    width: 100%;
    background-color: $lighter-color;
  }
}


.today-text {
  z-index: 3;
  position: absolute;
  color: white;
  width: 70px;
  text-shadow: -2px -2px 0 $dark-color, 2px -2px 0 $dark-color, -2px 2px 0 $dark-color, 2px 2px 0 $dark-color;
  @media (max-width: $screen-sm-max) {
    font-size: 20px;
  }
  @media (max-width: $screen-lg-max) {
    left: 20px;
    bottom: 3px;
  }
  @media (min-width: $screen-xl-min) {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 16px;
    line-height: 19px;
    top: 35px;
    left: 8px;
  }
}

.day-of-week {
  text-align: center;
  text-shadow: -1px -1px 1px $lighter-color, 1px -1px 1px $lighter-color, -1px 1px 1px $lighter-color, 1px 1px 1px $lighter-color;
  z-index: 3;
}

.day-number {
  display: flex;
  background-color: $main-color;
  border-radius: 100%;
  border: 2px solid $lighter-color;
  width: 42px;
  height: 42px;
  font-size: 20px;
  color: $light-color;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.weekend {
  color: $accent-color;
}
.weekend-number {
  background-color: $accent-color;
}

.timeline {
  // min-height: 100vh;
  width: 100%;
  margin-top: 20px;
  position: relative;

  &__hour {
    display: flex;
    height: 30px;
    width: 100%;
    border-bottom: 1px dashed $middle-color;
    border-right: 1px dashed $middle-color;
  }

  &__hour:last-child {
    border-bottom: none;
  }

  &__label {
    color: $middle-color;
    font-size: 10px;
    padding-left: 3px;
    padding-top: 3px;
  }

}

.tag-default {
  background-color: $main-color;
}

.tag-important {
  background-color: $accent-color;
}

.day-container:last-child .timeline .timeline__hour {
  border-right: none;
}


.loaderWrap {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 998;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    z-index: 999;
  }
}